# python operatore

In [1]:
#here you can write your code 
a=10
a

10

In [2]:
b=10
a+b

20

In [3]:
a="palataj"
b="sarfaraz"
a>b

False

In [4]:
a<b

True

In [5]:
a<d

NameError: name 'd' is not defined

In [9]:
a=2
if a==10:
    print(true)

In [7]:
a=['12','22','44']
sum=0
for i in range(a):
    sum=sum+i
print(sum)

TypeError: 'list' object cannot be interpreted as an integer