In [16]:
for i in range(1,4):
    for j in range(1,5):
        print(i,j,sep='',end=' ')
    print()

11 12 13 14
21 22 23 24
31 32 33 34

In [38]:
for row in range(1,6):
    for col in range (1,row+1):
       print(col,sep='',end='')
    print()

1
12
123
1234
12345

In [32]:
for row in range(1,5):
        print(' '*(4-row),end='')
        print('*'*(2*row-1))

   *
  ***
 *****
*******

In [40]:
a=int(input("Enter the number of row"))
for row in range(1,a+1):
        print(' '*(a-row),end='')
        print('*'*(2*row-1))

                     *
                    ***
                   *****
                  *******
                 *********
                ***********
               *************
              ***************
             *****************
            *******************
           *********************
          ***********************
         *************************
        ***************************
       *****************************
      *******************************
     *********************************
    ***********************************
   *************************************
  ***************************************
 *****************************************
*******************************************